{
  "cniVersion": "1.0.0",
  "name": "bridge",
  "type": "bridge",
  "bridge": "cni0",
  "isGateway": true,
  "ipMasq": true,
  "ipam": {
    "type": "host-local",
    "ranges": [
      [{"subnet": "{{ KUBE_CLUSTER_CIDR }}/{{ KUBE_CLUSTER_CIDR_NETMASK }}"}]
    ],
    "routes": [{"dst": "0.0.0.0/0"}]
  }
}
