[Unit]
Description=etcd
Documentation=https://github.com/etcd-io/etcd

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name {{ inventory_hostname }} \
  --cert-file={{ PKI_DIR }}/kube-api-server.pem \
  --key-file={{ PKI_DIR }}/kube-api-server-key.pem \
  --trusted-ca-file={{ PKI_DIR }}/ca.pem \
  --peer-trusted-ca-file={{ PKI_DIR }}/ca.pem \
  --peer-cert-file={{ PKI_DIR }}/kube-api-server.pem \
  --peer-key-file={{ PKI_DIR }}/kube-api-server-key.pem \
  --peer-client-cert-auth=true \
  --peer-trusted-ca-file={{ PKI_DIR }}/ca.pem \
  --initial-advertise-peer-urls https://{{ ETCD_ADDR }}:2380 \
  --listen-peer-urls https://{{ ETCD_ADDR }}:2380 \
  --listen-client-urls https://{{ ETCD_ADDR }}:2379 \
  --advertise-client-urls https://{{ ETCD_ADDR }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {{ inventory_hostname }}=https://{{ ETCD_ADDR }}:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
